

<router-outlet>
  <div class="Tmarcaprocedencia">
    <label class="title" for="titulo">T_marca_procedencia</label>
    <label class="label" for="name">Tmarca</label>
    <input class="textbox" type="name"  placeholder= " escriba el destino  ">
    <label class="label" for="name">Tprocedencia</label>
    <input class="textbox" type="name"  placeholder= " ingrese nombre del producto ">

<button class="button">GUARDAR</button>
<button class="button">MODIFICAR</button>
<button class="button">BUSCAR</button>
<button class="button">ELIMINAR</button>


  </div>
</router-outlet>
